<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JobLesson09Part01v02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JobLesson09Part01v02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <JobLesson09Part01v02.Properties.Settings>
            <setting name="SavedAddress" serializeAs="String">
                <value>F:\</value>
            </setting>
            <setting name="SavedNumPageCat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedNumPageFiles" serializeAs="String">
                <value>0</value>
            </setting>
        </JobLesson09Part01v02.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <JobLesson09Part01v02.Properties.Settings>
            <setting name="SavedSizePageCategory" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SavedSizePageFiles" serializeAs="String">
                <value>7</value>
            </setting>
        </JobLesson09Part01v02.Properties.Settings>
    </applicationSettings>
</configuration>